<a href="https://colab.research.google.com/github/ambulesubhada07/Python_Programing/blob/main/Pattern_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 5
for i in range(1, n+1):
  print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = 5
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end= " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 5
for i in range(1, n+1):
    print((str(i) + " ") * (n-i+1))

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
n = 5
for i in range(n, 0, -1):
    print((str(5) + " ") * i)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
n = 5
for i in range(n, 0, -1):
    print((str(i) + " ") * i)

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
n = 5
for i in range(n, -1, -1):
    for j in range(i+1):
        print(j, end= " ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0