<a href="https://colab.research.google.com/github/ambulesubhada07/Python_Programing/blob/main/program_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a Python program to sum all the items in a list

In [1]:
my_list = [10, 20 , 30, 40, 50]
total = sum(my_list)
print("sum of all the item in the list:", total)

sum of all the item in the list: 150

In [4]:
#2. Write a Python program to multiplies all the items in a list.
my_list = [2, 3, 4, 5]
result = 1
for item in my_list:
  result *= item
  print("multiplies of all item in the list:", result)

multiplies of all item in the list: 2
multiplies of all item in the list: 6
multiplies of all item in the list: 24
multiplies of all item in the list: 120

In [5]:
#3. Write a Python program to get the largest number from a list.
my_list = [10, 30, 45, 24, 57, 45]
largest = max(my_list)
print("largest number from a list: ", largest)

largest number from a list:  57

In [6]:
#4. Write a Python program to get the smallest number from a list.
my_list =[23, 45, 13, 40, 56]
smaller = min(my_list)
print("smallest numebr from a list:", smaller)

smallest numebr from a list: 13

In [1]:
#5. Write a Python program to count the number of strings where the string length
#is 2 or more and the first and last character are same from a given list of strings.
#Sample List : ['abc', 'xyz', 'aba', '1221']
#Expected Result : 2
my_list = ['abc', 'xyz', 'aba', '1221']

count = 0
for item in my_list:
  if len(item) >=2 and item[0] == item[-1]:
    count +=1
print('expected result:',count)

expected result: 2

In [2]:
"""6. Write a Python program to get a list, sorted in increasing order by the last
element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
 Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]"""
my_list = [(2,5), (1, 2), (4, 4), (2, 3), (2, 1)]

sorted_list = sorted(my_list, key= lambda x: x[-1])

print("sorted list based on the last element:", sorted_list)

sorted list based on the last element: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [7]:
#7. Write a Python program to remove duplicates from a list.
my_list = [1, 1, 4, 2, 2, 3, 3, 5, 6, 6, 7]
unique_list = list(set(my_list))
print(" removing duplicate:", unique_list)

 removing duplicate: [1, 2, 3, 4, 5, 6, 7]

In [10]:
my_list = [1, 1, 4, 2, 2, 3, 3, 5, 6, 6, 7]
unique_list = list(dict.fromkeys(my_list))
print(" removing all duplicate:", unique_list)

 removing all duplicate: [1, 4, 2, 3, 5, 6, 7]

In [ ]:
#8. Write a Python program to check a list is empty or not.

In [17]:
my_list =[]
if not my_list:
   print("the list is empty")
else:
    print("the list is not empty")

the list is empty

In [18]:
my_list =[0]
if not my_list:
   print("the list is empty")
else:
    print("the list is not empty")

the list is not empty

In [21]:
# 9. Write a Python program to clone or copy a list
number = [1, 2, 3, 4, 5]
my_list = number[:]
print("copy a list:", my_list)

copy a list: [1, 2, 3, 4, 5]

In [7]:
# 10. Write a Python program to find the list of words that are longer than n from a given list of words.
word_list = ["apple", "banana", "kiwi", "grape", "pineapple", "pear", "mango"]
n = 5
long_words = [word for word in word_list if len(word)>n]
print(f" word longer than {n} charecters:", long_words)
long_word = list(filter(lambda word: len(word)> n, word_list))

 word longer than 5 charecters: ['banana', 'pineapple']

In [2]:
#11. Write a Python function that takes two lists and returns True if they have at
#least one common member.
def num(list1, list2):
  return bool(set(list1) & set(list2))

list1 = [1, 2, 3, 4]
list2 = [4, 5, 6]
print(num(list1, list2))

list3 = [7, 8, 9]
list4 = [ 10, 11, 12]
print(num(list3, list4))

True
False

In [3]:
"""12. Write a Python program to print a specified list after removing the 0th, 4th
and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
 Expected Output : ['Green', 'White', 'Black'"""
def num(lst):
   num_remove = { 0, 4, 5}
   return [lst[i] for i in range(len(lst))if i not in num_remove]

sample_list = [ 'Red', 'Green', 'white', 'black', 'Pink', 'Yellow']
result = num(sample_list)
print(result)

['Green', 'white', 'black']

In [6]:
#13. Write a Python program to generate a 3*4*6 3D array whose each element is
array_3d = [[[0 for _ in range(6)] for _ in range(4)] for _ in range(3)]
for layer in array_3d:
   print(layer)

[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]

In [10]:
# 14. Write a Python program to print the numbers of a specified list after removing
 #even numbers from it.
def remove_even_number(list):
     return [num for num in list if num % 2 != 0]
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = remove_even_number(num)
print(result)

[1, 3, 5, 7, 9]

In [11]:
#15. Write a Python program to shuffle and print a specified list.
import random

def shuffle_list(list):
  random.shuffle(list)
  return list
sample_list = [1, 2, 3, 4, 6, 7, 8, 9]

shuffle_list = shuffle_list(sample_list)
print(shuffle_list)

[3, 4, 2, 8, 7, 9, 6, 1]

In [15]:
#16. Write a Python program to generate and print a list of first and last 5
#elements where the values are square of numbers between 1 and 30 (both
#included).
def squadred_list():
 squares = [x**2 for x in range(1, 31)]
 return squares[:5]+squares[-5:]
result = squadred_list()
print(result)

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [16]:
#17. Write a Python program to generate and print a list except for the first 5
#elements, where the values are square of numbers between 1 and 30 (both
#included).
def squared_list_except_first_five():
  squares = [x**2 for x in range(1, 31)]
  return squares[5:]
result = squared_list_except_first_five()
print(result)

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]